{
  "presets": [
    "react",
    "stage-0",
    [
      "env",
      {
        "node": "6.0.0",
        "browsers": ["last 2 versions", "ie 11"]
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ]
}