@import '~normalize.css';
@import '~@blueprintjs/core/lib/scss/variables.scss';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~font-awesome/css/font-awesome.css';

// Element Styles
html, body {
  min-width: 300px;
}
body {
  background-color: $pt-app-background-color;
}
input, button {
  margin-bottom: 5px;
}

// Generic styles
.cursor-pointer {
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.display-inline-block {
  display: inline-block;
}
.display-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.full-width {
  width: 100%;
}

@for $i from -21 to 21 {
  .margin-#{$i}         { margin: #{$i}px;         }
  .margin-right-#{$i}   { margin-right: #{$i}px;   }
  .margin-left-#{$i}    { margin-left: #{$i}px;    }
  .margin-top-#{$i}     { margin-top: #{$i}px;     }
  .margin-bottom-#{$i}  { margin-bottom: #{$i}px;  }

  .margin-left-right-#{$i}  {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .margin-top-bottom-#{$i}  {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .padding-#{$i}        { padding: #{$i}px;        }
  .padding-right-#{$i}  { padding-right: #{$i}px;  }
  .padding-left-#{$i}   { padding-left: #{$i}px;   }
  .padding-top-#{$i}    { padding-top: #{$i}px;    }
  .padding-bottom-#{$i} { padding-bottom: #{$i}px; }

  .padding-left-right-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .padding-top-bottom-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .top-#{$i}            { top: #{$i}px;            }
  .bottom-#{$i}         { bottom: #{$i}px;         }
  .left-#{$i}           { left: #{$i}px;           }
  .right-#{$i}          { right: #{$i}px;          }
}

@for $i from 1 to 11 {
  $value: $i * 50;
  .min-width-#{$value} { min-width: #{$value}px; }
  .max-width-#{$value} { max-width: #{$value}px; }
}

@each $i in 11, 12, 14, 16, 18 {
  .font-size-#{$i} { font-size: #{$i}px; }
}

.text-bold {
  font-weight: bold;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.text-primary,
.text-primary:hover {
  color: $pt-intent-primary;
}
.text-success,
.text-success:hover {
  color: $pt-intent-success;
}
.text-warning,
.text-warning:hover {
  color: $pt-intent-warning;
}
.text-danger,
.text-danger:hover {
  color: $pt-intent-danger;
}
.text-muted {
  color: $pt-text-color-muted;
}
.text-light {
  color: $pt-text-color-disabled;
}
.text-primary-light {
  color: $pt-text-selection-color;
}

// Node specific styles
.node {
  min-height: 30px;
  
  .pt-editable-content {
    cursor: pointer;
  }
  .pt-editable-text {
    height: 25px;
    max-height: 25px;
  }

  &.node-type-root {
    > div > .node-children {
      margin: 6px 0 0 6px;
      border-left: 1px solid $pt-dark-text-color-disabled;
    }
  }
  
  &.node-type-factory {
    &:before {
      content: '—';
      color: $pt-dark-text-color-disabled;
      margin-right: 6px;
    }
  }
}

// Hides nav bar items for small screens
@media (max-width: 768px) {
  .navbar-middle {
    display: none;
  }
}
